<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <form>
        <div>
          <div class="section-title">
            <h4 class="form-title">Identité</h4>
            <p class="form-description">
              Veuillez fournir les informations liées à votre identité
            </p>
          </div>

          <div class="block-input">
            <label for="nom">Nom</label>
            <input class="input-control" type="text" id="nom" />
          </div>

          <div class="grid grid-col-2 gap-24">
            <div class="block-input">
              <label for="prenom">Prénom</label>
              <input class="input-control" type="text" id="prenom" />
            </div>
            <div class="block-input">
              <label for="postnom">Postnom</label>
              <input class="input-control" type="text" id="postnom" />
            </div>
          </div>

          <div class="grid grid-col-2 gap-24">
            <div class="block-input">
              <label for="lieu-naissance">Lieu naissance</label>
              <input class="input-control" type="text" id="lieu-naissance" />
            </div>
            <div class="block-input">
              <label for="date-naissance">Date de naissance</label>
              <input class="input-control" type="text" id="date-naissance" />
            </div>
          </div>
        </div>
        <div class="grid grid-col-3 gap-24">
          <div class="block-input">
            <label for="numero-passeport">N° passeport</label>
            <input class="input-control" type="text" id="numero-passeport" />
          </div>
          <div class="block-input">
            <label for="date-delivrance"
              >Date de delivrance/Date of issue</label
            >
            <input class="input-control" type="date" id="date-delivrance" />
          </div>
          <div class="block-input">
            <label for="date-delivrance"
              >Date d'expiation/Date of expiring</label
            >
            <input class="input-control" type="date" id="date-delivrance" />
          </div>

          <div class="block-input">
            <label for="autorite-emettrice">Autorité émettrice</label>
            <input class="input-control" type="text" id="autorite-emettrice" />
          </div>
          <div class="block-input">
            <label for="pays-provenance">Pays de provenance</label>
            <input class="input-control" type="text" id="pays-provenance" />
          </div>
          <div class="block-input">
            <label for="date-arrivee">Date d'arrivée</label>
            <input class="input-control" type="date" id="date-arrivee" />
          </div>
          <div class="block-input">
            <label for="date-depart">Date de départ</label>
            <input class="input-control" type="date" id="date-depart" />
          </div>
          <div class="block-input">
            <label for="duree-sejour">Durée du sejour</label>
            <input class="input-control" type="text" id="duree-sejour" />
          </div>
          <div class="block-input">
            <label for="profession">Profession</label>
            <input class="input-control" type="text" id="profession" />
          </div>
          <div class="block-input">
            <label for="activite">Activités</label>
            <input class="input-control" type="text" id="activite" />
          </div>
          <div class="block-input">
            <label for="adresse-kinshasa">Adresse à kinshasa</label>
            <input class="input-control" type="text" id="adresse-kinshasa" />
          </div>
          <div class="block-input">
            <label for="lieu-logement">Lieu de logement</label>
            <input class="input-control" type="text" id="lieu-logement" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
