footer.bg-dark.text-inverse
    .container.pt-17.pt-md-19.pb-13.pb-md-15
        .row.gy-6.gy-lg-0
            .col-md-4.col-lg-3
                .widget
                    //img.mb-4(src='/img/logo-light.png' srcset='/img/logo/logo_web.png' alt='')
                    p.mb-4
                        | © 2022 DGRK.
                        br.d-none.d-lg-block
                        | All rights reserved.
                    nav.nav.social.social-white
                        a(href='#')
                            i.uil.uil-twitter
                        a(href='#')
                            i.uil.uil-facebook-f
                        a(href='#')
                            i.uil.uil-dribbble
                        a(href='#')
                            i.uil.uil-instagram
                        a(href='#')
                            i.uil.uil-youtube
                    // /.social
                    // /.widget
                    // /column
            .col-md-4.col-lg-3
                .widget
                    h4.widget-title.text-white.mb-3 Entrer en contact
                    address.pe-xl-15.pe-xxl-17 76, avenue colonel Ebeya, Kinshasa-Gombe
                    a(href='mailto:#') ce@e-dgrk.com
                    br
                    | +243 85 091 84 43
                    br
                    | +243 81 13 80 336
                // /.widget
                // /column
            .col-md-4.col-lg-3
                .widget
                    h4.widget-title.text-white.mb-3 En savoir plus
                    ul.list-unstyled.mb-0
                        li
                            a(href='#') Apropos de nous
                        li
                            a(href='#') Our Story
                        li
                            a(href='#') Projects
                        li
                            a(href='#') Terms of Use
                        li
                            a(href='#') Privacy Policy
                // /.widget
                // /column
            .col-md-12.col-lg-3
                .widget
                    h4.widget-title.text-white.mb-3 Restez informer
                    p.mb-5 Abonnez-vous à notre newsletter pour recevoir nos nouvelles et nos offres.
                    .newsletter-wrapper
                        // Begin Mailchimp Signup Form
                        #mc_embed_signup2
                            form#mc-embedded-subscribe-form2.validate.dark-fields(action='https://elemisfreebies.us20.list-manage.com/subscribe/post?u=aa4947f70a475ce162057838d&id=b49ef47a9a' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
                                #mc_embed_signup_scroll2
                                    .mc-field-group.input-group.form-floating
                                        input#mce-EMAIL2.required.email.form-control(type='email' value='' name='EMAIL' placeholder='Adresse email')
                                        label(for='mce-EMAIL2') Adresse email
                                        input#mc-embedded-subscribe2.btn.btn-primary(type='submit' value='Join' name='subscribe')
                                    #mce-responses2.clear
                                        #mce-error-response2.response(style='display:none')
                                        #mce-success-response2.response(style='display:none')
                                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                                    div(style='position: absolute; left: -5000px;' aria-hidden='true')
                                        input(type='text' name='b_ddc180777a163e0f9f66ee014_4b1bcfa0bc' tabindex='-1' value='')
                                    .clear