header.wrapper.bg-dark
    nav.navbar.navbar-expand-lg.center-nav.bg-light.navbar-light
        .container.flex-lg-row.flex-nowrap.align-items-center.py-3
            .navbar-brand.w-100
                a(href='/')
                    img(src='./img/logo/logo_mini.png', width='100')
            .navbar-collapse.offcanvas-nav
                .offcanvas-header.d-lg-none.d-xl-none
                    a(href='/')
                        img(src='./img/logo/logo_mini.png', width='100')
                    button.btn-close.btn-close-white.offcanvas-close.offcanvas-nav-close(type='button' aria-label='Close')