section.wrapper.bg-dark.angled.lower-start
    .container.pt-7.pt-md-11.pb-8
        .row.gx-0.gy-10.align-items-center
            .col-lg-6(data-cues='slideInDown' data-group='page-title' data-delay='600')
                h1.display-1.text-white.mb-4
                    | Déclarer et payer ses Impôts, Taxes et Redevances
                    br
                    span.typer.text-primary.text-nowrap(data-delay='100' data-words='sans se déplacer')
                    span.cursor.text-primary(data-owner='typer')
                p.lead.fs-24.lh-sm.text-white.mb-7.pe-md-18.pe-lg-0.pe-xxl-15
                    | Fatigué de perdre du temps à vous déplacer pour déclarer et payer vos impôts et taxes?
                    | Avec EDGRK vous pouvez faire les deux opérations sans vous déplacer.
                div
                    a(href='/register').btn.btn-lg.btn-primary.rounded-pill Enregistrez-vous maintenant
            // /column
            .col-lg-5.offset-lg-1.mb-n18(data-cues='slideInDown')
                .basic-slider.owl-carousel.dots-over.shadow-lg(data-nav='true' data-margin='5')
                    .item
                        a.btn.btn-circle.btn-primary.btn-play.ripple.mx-auto.mb-5.position-absolute(href='/media/ETAPE1 MODIF 2.mp4' style='top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;' data-glightbox='')
                            i.icn-caret-right
                        img.rounded(src='/img/photos/poster-pre-register.png' srcset='/img/photos//poster-pre-register.png 2x' alt='')
                    .item
                        a.btn.btn-circle.btn-primary.btn-play.ripple.mx-auto.mb-5.position-absolute(href='/media/ETAPE2 MODIF.mp4' style='top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;' data-glightbox='')
                            i.icn-caret-right
                        img.rounded(src='/img/photos/connexion-email.png' srcset='/img/photos/connexion-email.png' alt='')
                    .item
                        a.btn.btn-circle.btn-primary.btn-play.ripple.mx-auto.mb-5.position-absolute(href='/media/ETAPE3 MODIF.mp4' style='top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;' data-glightbox='')
                            i.icn-caret-right
                        img.rounded(src='/img/photos/connexion-sms.png' srcset='/img/photos/connexion-sms.png 2x' alt='')

section.wrapper.bg-light
    .container.pt-19.pt-md-21
        .row
            .col-lg-8.col-xl-7.col-xxl-6
                h2.fs-16.text-uppercase.text-line.text-primary.mb-3 Fonctionnalités
                h3.display-4.mb-9 Le service que nous offrons est spécifiquement conçu pour vous aider à tout faire en ligne de bout en bout.
            // /column
            // /.row
            .row.gx-md-8.gy-8.mb-14.mb-md-18
                .col-md-6.col-lg-6
                    .icon.btn.btn-block.btn-lg.btn-soft-primary.disabled.mb-6
                        i.uil.uil-phone-volume
                    h4 Déclaration en ligne
                    p.mb-3
                        | Un formulaire en ligne vous permettra de créer votre déclaration selon l'impôt ou taxe auquel vous êtes assujetti.
                    a.btn.btn-expand.btn-primary.rounded-pill(href='/')
                        i.uil.uil-arrow-right
                        span En savoir plus
                // /column
                .col-md-6.col-lg-6
                    .icon.btn.btn-block.btn-lg.btn-soft-primary.disabled.mb-6
                        i.uil.uil-shield-exclamation
                    h4 Paiement en line
                    p.mb-3
                        | Nous vous offrons les différents modes de paiement pour vous permettre de payer vos déclarations en ligne. Nous offrons le paiement par mobile money, carte bancaire, virement bancaire et Terminal de Paiement Electronique.
                    a.btn.btn-expand.btn-primary.rounded-pill(href='/')
                        i.uil.uil-arrow-right
                        span En savoir plus
                // /column
                // /.row
section.wrapper.bg-light
    .container.py-14.py-md-16
        h2.display-4.mb-3 Comment ça marche?
        p.lead.fs-lg.mb-8
            | Le service que nous offrons est spécifiquement conçu pour vous aider à tout faire en ligne..
        .row.gx-lg-8.gx-xl-12.gy-6.process-wrapper.line
            .col-md-6.col-lg-4
                span.icon.btn.btn-circle.btn-lg.btn-soft-primary.disabled.mb-4
                    span.number 01
                h4.mb-1 Enregistrez-vous
                p.mb-0
                    | Inscrivez-vous à l’aide de votre numéro d’impôt et personnalisez votre mot de passe êtes assujetti.
            // /column
            .col-md-6.col-lg-4
                span.icon.btn.btn-circle.btn-lg.btn-primary.disabled.mb-4
                    span.number 02
                h4.mb-1 Déclarez vos propriétés
                p.mb-0
                    | Déclarez vos propriétés à l’aide d’un formulaire en ligne et enregistrez votre déclaration.
            // /column
            .col-md-6.col-lg-4
                span.icon.btn.btn-circle.btn-lg.btn-soft-primary.disabled.mb-4
                    span.number 03
                h4.mb-1 Payez vos déclarations
                p.mb-0
                    | Payez vos déclarations en choisissant le mode de paiement qui vous convient le mieux.
            // /column
            // /.row
            // /.container
section.wrapper.image-wrapper.bg-image.bg-overlay(data-image-src='./img/photos/cd-ekila-pos.jpg')
    .container.py-18
        .row
            .col-lg-8
                h2.fs-16.text-uppercase.text-line.text-white.mb-3 Rejoignez nos utilisateurs
                h3.display-4.mb-6.text-white.pe-xxl-18
                    | Nous vous facilitons la tâche, payez et déclarez vos impôts et taxes sans effort.
                a.btn.btn-white.rounded.mb-0.text-nowrap(href='/register') Enregistrez-vous maintenant
            // /column
            // /.row
            // /.container
            // /section
section.wrapper.bg-light
    .container.py-14.py-md-16
        .row.gx-lg-8.gx-xl-12.gy-10
            .col-lg-6.mb-0
                h2.fs-15.text-uppercase.text-primary.mb-3 FAQ
                h3.display-5.mb-4
                    | Voici la liste de quelques questions fréquentes . Pour voir plus de questions et réponses veuillez cliquez sur le bouton plus de question.
                p.lead.mb-6
                    |  Si vous ne voyez pas de réponse à votre question, vous pouvez nous envoyer un e-mail depuis notre formulaire de contact.
                a.btn.btn-primary.rounded-pill(href='#') Plus de questions
            // /column
            .col-lg-6
                #accordion-3.accordion-wrapper
                    .card.accordion-item
                        #accordion-heading-3-1.card-header
                            button.collapsed(data-bs-toggle='collapse' data-bs-target='#accordion-collapse-3-1' aria-expanded='false' aria-controls='accordion-collapse-3-1') Est-ce que c'est posible d'annuler et de recommencer une déclaration?
                        // /.card-header
                        #accordion-collapse-3-1.collapse(aria-labelledby='accordion-heading-3-1' data-bs-target='#accordion-3')
                            .card-body
                                p
                                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.
                            // /.card-body
                            // /.collapse
                            // /.card
                    .card.accordion-item
                        #accordion-heading-3-2.card-header
                            button.collapsed(data-bs-toggle='collapse' data-bs-target='#accordion-collapse-3-2' aria-expanded='false' aria-controls='accordion-collapse-3-2') Le système a-t-il prit en compte les sociétés exonérées?
                        // /.card-header
                        #accordion-collapse-3-2.collapse(aria-labelledby='accordion-heading-3-2' data-bs-target='#accordion-3')
                            .card-body
                                p
                                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.
                            // /.card-body
                            // /.collapse
                            // /.card
                    .card.accordion-item
                        #accordion-heading-3-3.card-header
                            button.collapsed(data-bs-toggle='collapse' data-bs-target='#accordion-collapse-3-3' aria-expanded='false' aria-controls='accordion-collapse-3-3') Comment m'inscrire à l'application?
                        // /.card-header
                        #accordion-collapse-3-3.collapse(aria-labelledby='accordion-heading-3-3' data-bs-target='#accordion-3')
                            .card-body
                                p
                                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.
                            // /.card-body
                            // /.collapse
                            // /.card
                    .card.accordion-item
                        #accordion-heading-3-4.card-header
                            button.collapsed(data-bs-toggle='collapse' data-bs-target='#accordion-collapse-3-4' aria-expanded='false' aria-controls='accordion-collapse-3-4') Comment réinitialiser le mot de passe de mon compte?
                        // /.card-header
                        #accordion-collapse-3-4.collapse(aria-labelledby='accordion-heading-3-4' data-bs-target='#accordion-3')
                            .card-body
                                p
                                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis.
                            // /.card-body
                            // /.collapse
                            // /.card
                            // /.accordion-wrapper
                            // /column
                            // /.row
                            // /.container
section.wrapper.bg-light
    .container.py-14.py-md-16
        h2.display-4.mb-3.text-center La satisfaction du client est notre objectif majeur. Voyez ce que nos clients disent de nous.
        p.lead.text-center.mb-6.px-md-16.px-lg-0
            //| Customer satisfaction is our major goal. See what our customers are saying about us.
        .position-relative
            .shape.rounded-circle.bg-soft-yellow.rellax.w-16.h-16(data-rellax-speed='1' style='bottom: 0.5rem; right: -1.7rem;')
            .shape.bg-dot.primary.rellax.w-16.h-16(data-rellax-speed='1' style='top: -1rem; left: -1.7rem;')
            .carousel.owl-carousel.gap-small(data-margin='0' data-dots='true' data-autoplay='false' data-autoplay-timeout='5000' data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1200":{"items": "3"}}')
                .item
                    .item-inner
                        .card
                            .card-body
                                blockquote.icon.mb-0
                                    p
                                        | “Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio dapibus facilisis sociis natoque penatibus.”
                                    .blockquote-details
                                        img.rounded-circle.w-12(src='./img/photos/kuluta.jpg' srcset='./img/photos/kuluta.jpg' alt='')
                                        .info
                                            h5.mb-1 KULUTA NTULA Félicien
                                            p.mb-0 DG DGRK
                            // /.card-body
                            // /.card
                            // /.item-inner
                            // /.item
                .item
                    .item-inner
                        .card
                            .card-body
                                blockquote.icon.mb-0
                                    p
                                        | “Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio dapibus facilisis sociis natoque penatibus.”
                                    .blockquote-details
                                        img.rounded-circle.w-12(src='./img/photos/gentiny-ngobila.jpg' srcset='./img/photos/gentiny-ngobila.jpg' alt='')
                                        .info
                                            h5.mb-1 NGOBILA MBAKA
                                            p.mb-0 Gouverneur de Kinshasa
                            // /.card-body
                            // /.card
                            // /.item-inner
                            // /.item
                .item
                    .item-inner
                        .card
                            .card-body
                                blockquote.icon.mb-0
                                    p
                                        | “Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio dapibus facilisis sociis natoque penatibus.”
                                    .blockquote-details
                                        img.rounded-circle.w-12(src='./img/avatars/te3.jpg' srcset='./img/avatars/te3@2x.jpg 2x' alt='')
                                        .info
                                            h5.mb-1 Nikolas Brooten
                                            p.mb-0 Sales Manager